.mr-1{
    margin-right: 1%;
}

.input-error{
  border-color: red;
  border-width: medium;  
  color: red;
}

.input-success{
  border-color: rgb(114, 221, 114);
  border-width: medium;
  color: rgb(114, 221, 114);  
}

.margin-top-2{
    margin-top: 2%;
}